/* primary colors: #fff, button border color: #9e9e9e45(grey), #02C1FD(blue),  */
.App {
  width: 100%;
  margin: auto;
  --bs-gutter-x:0;
}

.row{
  --bs-gutter-x:0;
}

.btnfocus{
  background-color: #02c1fd;
  border-color: #02c1fd !important;
  color: white !important;
}

.pageTitle{
  z-index: 999;
    position: relative;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

a {
  text-decoration: none;
  color: black;
}
.header{
  background-color: grey;

}

.header-contents{
  margin: 15rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.aboutPg{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ) , no-repeat 25% 85%/100% url(../images/about-us-header.jpg)
}

.contactPg{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ) , no-repeat 25% 50%/100% url(../images/contact-us-header.jpg)
}

.servicesPg{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ) , no-repeat 25% 50%/100% url(../images/services-header.jpg)
}

.portfolioPg{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ) , no-repeat 25% 50%/100% url(../images/portfolio-header.jpg)
}
.bg-overlay{
  background: transparent url(../images/07.png) center center repeat;
  opacity: 0.3;
  width: 100%;
  height: 75%;
  bottom: 12rem;
  left: 0rem;
  top: -3rem;
  position: absolute;
}

.arrowContainer {
  margin-top: 2rem;
}

.arrowContainer span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrowContainer span:nth-child(2){
  animation-delay: -0.2s;
}

.arrowContainer span:nth-child(3){
  animation-delay: -0.4s;
}

.greyBg{
  background-color: grey;
  width: 50%;
}

.active>.page-link{
  background-color: #02C1FD;
    border-color: #02C1FD;
}

.page-link{
  color:#02C1FD;
}

@keyframes animate{
0%{
  opacity: 0;
  transform: rotate(45deg) translate(-20px, -20px);
}
50%{
  opacity: 1;
} 
100%{
  opacity: 0;
  transform: rotate(45deg) translate(20px, 20px);
} 
}

.require{
color: red;
}

.swiper-container{
  width: 100%;
}
.navbar{
  background-color:#fff;
  justify-content: center;
  max-height: 115px;
  display: flex;
  flex-direction: column;
}

.main-nav,.aboutusSection,.bannerContent, .formContainer, .servicePg-contents, .swiper-container, .services{
  max-width: 1600px;
}

.main-nav{
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  justify-content: space-between;
  justify-items: flex-end;
  width: 80%;
  background-color: white;
  margin: 0 1rem;
}

.navbarContainer{
height: 110px;
}

.navbar-brand{
  justify-self: flex-start;
}

.navBtns{
  justify-self: flex-end;
}

.contactBtn{
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: 1px solid #02C1FD;
  background-color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 2rem;
}


form .btn{
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: 1px solid #9e9e9e45;
  background-color: transparent;
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
}



.navBtn:hover{
  border-bottom: 1px solid #02C1FD;
  border-radius: 0;
  background-color: transparent;
  color: black;
}

.contactBtn:hover, form .btn:hover{
  border: 1px solid #02C1FD;
  background-color: #02C1FD;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.slogan{
  position: absolute;
  color: #02C1FD;
  z-index: 9999;
  letter-spacing: 0.2rem;
  top: 20%;
  left: 19%;
}

.longdash{
  width: 5rem;
  height: 1px;
  background-color: white;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  animation: text-ease-in 0.5s ease-in 1 alternate;
}

.subheader{
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  animation: text-ease-in 1s ease-in 1 alternate;
}

.servicePg-contents{
  width: 85%;
  margin: auto;
}

.dropdownArrowContainer{
  width: 100%;
    position: absolute;
    top: -8px;
    left: -57px;
    display: flex;
    justify-content: center;
}
@keyframes text-ease-in{
from {
  transform: translateX(100%);
}
to{
  transform: translateX(0%);
}
}

@keyframes slicing {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.slogan h2{
  text-transform: uppercase;
  width: 55%;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  min-width: 1200px
}

.slideImg{
  filter: brightness(0.4);
  width: 100%;
}

.navbar-logo{
  width: 17rem;
}

.navBtn{
  margin-right: 0.5rem;
  background-color: transparent;
  border: none;
  color: black;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.navBtn span{
  text-transform: capitalize;
}

.slogan:hover{
  color: #fff;
}

.logoCarousel{
  text-align: center;
  margin-bottom: 5rem;
  justify-content: center;
  text-align: center;
  margin-top: 6rem;;
}

.carouselTitle{
  margin-bottom: 2rem;
  font-weight: 600;
  width: 50%;
}

.aboutusSection{
  margin: auto;
  color: #444;
}

.aboutUs div,.formContainer .contactInfo, .formContainer form{
  width: 45%;
}

.aboutUs span, .letstalk{
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}


.letstalk{
  color: #02C1FD;
}

h3{
  font-size: 2rem;
  font-weight: 800;
  
}

.services{
  width: 85%;
  margin: auto;
  display: flex;
  margin-bottom: 4rem;
}

.service{
border: none;
margin-bottom: 3rem;
padding: 1rem;
}

.card-text{
font-weight: 500;
}

.card-body{
  text-align: center;
}

.card-title{
font-weight: 800;
font-size: 1.8rem;
}

.serviceImg{
  width: 50%;
  padding-left: 1rem;
}


.logoImg{
width: 70%;
}

.tardis, .infuso{
  width: 50%;
}

.banner{
  background-color: black;
  color: #fff;
}

.bannerContent{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 7rem auto;
}

.nav-link{
  display: inline-block;
  align-self: center;
  justify-self: flex-end;
}

.bannerBtnContainer{
  align-self: center;
  margin-right: 5rem;
}

.bannerBtn{
background-color: transparent;
border: 1px solid #BBBBBB;
    margin-right: 10rem;
    padding: 1.5rem 0;
    border-radius: 0;
    width: 100%;
}

.bannerBtn:hover{
  border: 1px solid #02C1FD;
  background-color: transparent;
  color: white;
  font-weight: 500;
  transform: scale(1.2);
}

.formContainer, .aboutUs{
  display: flex;
  justify-content: space-between;
}

.formContainer, .aboutUs{
  width: 80%;
  margin:3rem auto;
}

.lfContent h2{
  font-family: 'Roboto', sans-serif;
  font-size: 8rem;
}
.lfContent h2 span{
  color: black;
    -webkit-text-stroke-color: #BBBBBB;
    -webkit-text-stroke-width: thin;
}


.smallText{
font-size: 1.7rem;
}

.xsmallText{
  font-size: 1.2rem;
}

.xxsmallText{
  font-size: 0.8rem;
}

.smallBold{
  font-weight: 700;
  line-height: 2.5rem;
  color: #545457;
}


.contactInfo h5{
  margin-top: 1rem;
  font-weight: 800;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

.contactInfo h5 span{
  color: #01C3FF;
}

form{
  margin-right: 5rem;
}

.rtSection span {
  font-weight: 800;
}

.rtSection p{
  margin: 4rem 0;
  font-weight: 500;
}

form{
  display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

form h3{
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.mb-3, form .btn, .formTitleContainer{
  width: 70%;
}

.form-control{
  line-height: 3rem;
  margin-bottom: 1rem;
}

.modal{
  max-width: 2000px;
  overflow: scroll;
  --bs-modal-width: 100%;
}

.modal-content{
background-color: transparent;
border: none;
border-radius: none;
top: 8rem;
right: 2rem;
}

.portfolio_swiper .swiper-button-prev, .portfolio_swiper .swiper-button-next{
  color:white;
}

.portfolio_swiper .swiper-slide{
  right: -20%;
}

.portfolio_swiper{
  width:80%;
}

.scrollUpBtn{
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 50%;
  align-items: center;
  transform: rotate(90deg);
  justify-content: center;
  background-color: #02C1FD;
  border: none;
  left: 1%;
  display: flex;
}

form .btn{
  margin-bottom: 1rem;
}

@media all and (max-width:1400px) {
  .header-contents{
    margin: 10rem auto;

  }

.slogan{
  left: 6%;
} 
.card-text, .aboutUs p{
  font-size: 0.8rem;
} 

.aboutUs h3{
  font-size: 1.8rem;
}
}

@media all and (max-width: 600px)  {
  .header-contents{
    margin: 4rem auto !important;
    padding: 0;

  }

  .modal_singleImg{
    width: 100%;
  }

  .modal-content{
    top: 13rem;
  }

  .portfolio_swiper{
    width:100%;
  }

  .portfolio_swiper img{
    width: 100%;
  }

  .portfolio_swiper .swiper-slide {
    left: 114%;
    margin-bottom: 2rem;
  }
  .arrowContainer span{
    width: 15px;
    height: 15px;
  }

  .bg-overlay{
    height: 47%;
  }

  .pageTitle{
    font-size: 1.5rem;
    margin-left: 2rem;
  }

.bannerContent{
    width: 80%;
  }

  .navbar-toggler{
    width: 30%;
    justify-self: end;
  }

  .navBtns{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    top: 4rem;
    left: 0rem;
    width: 100%;
  }

  .navBtn{
    line-height: 1rem;
    font-size: 0.7rem;
    margin-right: 0;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    border: none;
    padding-bottom: rem;
    border-bottom:1px solid #02C1FD;
    border-radius: 0;
  }

  .page{
    justify-content: center;
  }

  .navbar-logo{
    width: 9rem;
  }

  .navBtn img{
    margin-left: 0;
  }

  .slogan{
    top: 8rem;
    left: 1rem;
    letter-spacing: 0.1rem;
  }

  .slogan h2{
    font-size: 1.5rem;
    width: 100%;
    min-width: 400px
  }

  .subheader{
    font-size: 0.7rem;
  }

  .services, .aboutUs,.formContainer, .banner{
    display: flex;
    flex-direction: column;
  }

  .aboutUs{
    margin-top: 2rem;
  }

  .aboutUs div, .banner div, .service, .card-text, .lfSection h3, .rtSection p, .formContainer .contactInfo,  .formContainer form{
    width: 100%;
  }

  .aboutUs span{
    font-size: 1rem;
  }
  
  .rtSection p{
    margin: 2rem 0;
  }

  .services{
    margin-bottom: 0;
  }

  .banner{
    padding: 2rem;
  }
  
  .lfContent h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .bannerBtnContainer{
    margin-right: 0;
  }

  .bannerBtn{
    margin-right: 0;
    margin-top: 6rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .banner .nav-link{
    align-self: flex-start;
  }

  .smallText{
    font-size: 1.5rem;
  }

  .contactInfo{
    margin-top: 2rem;
  }

  .mb-3, .formTitleContainer, form .btn{
    width: 100%;
  }

  .logoCenter, .mikeyEvents{
    padding:0
  }

  .logoImg{
    width: 100%;
    margin-bottom: 2rem;
  }

  .tardis, .infuso{
    width: 80%;
  }

  .contactBtn{
    margin-left: 0;
  }
  }

  @media all and (max-width: 500px)  {
    .header-contents{
      margin: 2.8rem auto !important;
    }
    
  }
  @media all and (max-width:800px) {
    .header-contents{
      margin: 7rem auto;
  
    }
  }

  @media all and (max-width:1200px) and (min-width:601px){
    .header-contents{
      padding: 0;
    }

    .card-title{
      font-size: 1.5rem;
    }

    .modal_singleImg{
      width: 60%;
    }

    .bg-overlay{
      height: 65%;
    }

    .navbar-toggler{
      width: 30%;
      justify-self: end;
    }

    .navbar-brand{
      margin-top: 0.5rem;
    }

    .navBtns{
      display: flex;
      flex-direction: row;
      border-radius: 10px;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .contactBtn{
      margin-bottom: 0.5rem;
    }

    .navBtn{
      line-height: 1rem;
      font-size: 0.7rem;
      margin-left: 0.5rem;
    }

    .main-nav{
      width: 90%;
      padding: 0 0.5rem;
      margin: 0;

    }
    
    .mb-3, form .btn, .formTitleContainer{
      width: 100%;
    }

    .tardis, .infuso{
      width: 80% !important;
      margin-bottom: 2rem;
    }

    .logoImg{
      width: 100%;
    }

    .slogan h2{
      width: 80%;
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      min-width: 700px
    }
  
    .subheader{
      font-size: 1rem;
    }
  
    .navbar-logo{
      width:14rem;
  
    }
    .navBtn{
      margin-right: 0rem;
    }
  
    
  .services{
      flex-direction: row;
      padding: 0 1rem;
      width: 100%;
  }
  
  .formContainer form{
    padding-left: 2rem;
  }
  
  .service{
    width: 100%;
  }
  
  .serviceImg{
    width: 80%;
  }
  
  .card-text{
    width: 100%;
  }
  
  .lfContent h2{
    font-size: 3rem;
  }
  
  .formContainer, .aboutUs, .bannerContent{
    width: 90%;
    margin: 5rem auto;
    padding: 2rem 2rem;
  }
  
  .bannerBtnContainer{
    margin-right: 0rem;
  }
  
  .aboutUs h3, .aboutUs p{
    width: 100%;
  }

  .portfolio_swiper .swiper-slide{
    right: -8rem;
  }

  .modal-content{
    top: 10rem;
  }
  
  }