.brand_header{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , no-repeat 25% 40%/100% url(../ServicePages/images/branding-header.jpeg);
        
}

.web_header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , no-repeat 25% 40%/100% url(../ServicePages/images/web-dev-header.jpeg);
    
}

.seo_header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , no-repeat 25% 40%/100% url(../ServicePages/images/seo-sem-header.jpeg);
    
}

.media_header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , no-repeat 25% 40%/100% url(../ServicePages/images/photo-video-header.jpeg);
    
}

.email_header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , no-repeat 25% 40%/100% url(../ServicePages/images/email-marketing-header.jpeg);
    
}

.print_header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , no-repeat 25% 40%/100% url(../ServicePages/images/printing-header.jpeg);
    
}

.social_header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , no-repeat 25% 40%/100% url(../ServicePages/images/social-media-header.jpeg);
    
}
.services_header .pageTitle{
    color:#02C1FD;
    text-transform: uppercase;
}

.services_header .pageTitle:hover{
    color:#fff;
}

.opacityToggle{
    opacity: 0;
}
.fadeInUp{

}


.images div{
    opacity: 0;
} 

[data-aos="fadeInUp"] {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}

[data-aos="fadeInUp"] .aos-animate {
      opacity: 1;
      transform: translate3d(0, 0, 0);
}

.seeMorebanner{
    background-color: #444;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.seeMorebanner a{
    color: #fff;
}

@media all and (max-width:1450px) {  
}
@media all and (max-width:450px) {
    .arrow{
        width: 1%;
    }
}
@keyframes fadeInUp {
    0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
    50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}